@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  background-image: url("/images/bg-cafe.jpg");
  background-repeat: no-repeat;
  background-color: #111315;
  background-size: 100% 18rem;
}

.box {
  background-image: url("../public/images/vector.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
